body, html
{
    padding: 0;
    margin: 0;
    border: 0;
}
:root
{
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
    color: white;
    font-size: 40px;
}
.board
{
    background-color: gray;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 900;
}
/* .header
{
    height: 600px;
} */
footer
{
    color: #0d1117;
}
.winner
{
    background-color: orange !important;
}
#topUI
{
    color: white;
    font-size: 24px;
    height: 50px;
}
.github
{
    color: white;
    font-size: 24px;
}
img
{
    width: 32px;
    height: 32px;
}
.gameboard
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 607px;
    height: 607px;
    
}
.container
{
    background-color: #0d1117;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.board:hover
{
    opacity: 85%;
}
#restart
{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 24px;
}